:root {
  --white: #fff;
  --black: black;
  --dark-gray: #797874;
  --gray: #B9B9B9;
  --light-gray: #CCCCCC;
}


html {
  font-size: 10px;
  background-color: var(--white);
}

body {
  background-color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 580px 1fr;
  padding-top: 11.4rem;
  padding-bottom: 11.4rem;
  position: relative;
}

.main-body {
  grid-column: 2;
}

.primary {
  font-size: 4.4rem;
  font-weight: 700;
}

.secondary {
  font-size: 2.8rem;
}

.tertiary {
  font-size: 2.4rem;
}

h1 {
  margin: 0 0 4.1rem 0;
}

h2 {
  margin: 0 0 2.9rem 0;
}

hr {
  border: 0.1rem solid var(--gray);
}

hr.divider {
  margin: 6.9rem 0 4.1rem 0;
}
