:root {
  --star-full: url(#starFull);
  --star-empty: url(#starEmpty);
  --star-half: url(#starHalf);
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.4rem;
}

.score .rating .value {
  font-size: 4.4rem;
  font-weight: 400;
}

.star-icon path {
  fill: var(--star-empty);
  user-select: none;
  pointer-events: none;
}

.star-icon.selected:not(.half) path {
  fill: var(--star-full);
}

.star-icon.selected.half path {
  fill: var(--star-half);
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star-rating .star-icon:not(:first-child) {
  padding-right: 0.5rem;
}

.star-icon.editable {
  cursor: pointer;
}

.star-rating.editable:hover .star-icon path {
  fill: var(--star-empty);
}

.star-rating.editable .star-icon.editable:hover rect.half:hover ~ path {
  fill: var(--star-half);
}

.star-rating.editable .star-icon.editable:hover rect.full:hover ~ path,
.star-icon.editable:hover ~ .star-icon path {
  fill: var(--star-full);
}
