button {
  background-color: var(--white);
  border: 0.1rem solid var(--gray);
  border-radius: 0.4rem;
  padding: 1.4rem 2.5rem;
  color: var(--dark-gray);
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

button:disabled {
  cursor: not-allowed;
}

textarea {
  border: none;
  font-size: 2rem;
}

textarea::-webkit-resizer {
  display: none;
}

textarea:focus {
  outline: none;
  border: none;
  resize: none;
}
